// Variables 

//font
@font1:'Cantarell', sans-serif;
@font2:'Montserrat', sans-serif;

@font-size-d:1em;
@font-weight-d:400;

@borderr5: 5px;

@headerbg: #707070; // header bacground color
@wbackground: #fff; // content background color

@modal-overlay-bckg: rgba(0,0,0,.6);

@color-h1:#fff; // header text color
@color-text:#676767; // color of page text
@pagination-fontc:#93918D; 	// color of pagination font
@modal-p:#B8B8B8;

@pagination-color1: #bebcb9; // color of background, list borders
@underline-color:#D9D9D9;
@border-style:1px solid #f1f1ef;		//bottom border color



//flyout -modal

@article-social-bckg: #F4F4F4;
@color-p-article: #74726E;
@color-span-article: #549BCC;

@modal-content-h1:#74736F;
@modal-content-h2:#C0BEBB;
@modal-content-p:#676767;

